In [2]:
import pandas as pd

In [3]:
#Cargando las dos bases de datos
price_data = pd.read_csv("NEAR_PRICING.csv")
tvl_data = pd.read_csv("NEAR_TVL.csv")

In [4]:
price_data.dtypes

snapped_at       object
price           float64
market_cap      float64
total_volume    float64
dtype: object

In [ ]:
#Cambiando de tipo de datos "object" a "datetime"
price_data["snapped_at"] = pd.to_datetime(price_data["snapped_at"]).dt.date
tvl_data["date"] = pd.to_datetime(tvl_data["date"]).dt.date

price_data["snapped_at"] = pd.to_datetime(price_data["snapped_at"])
tvl_data["date"] = pd.to_datetime(tvl_data["date"])

In [4]:
price_data.dtypes

snapped_at      datetime64[ns]
price                  float64
market_cap             float64
total_volume           float64
dtype: object

In [ ]:
#Creacion de base de datos vacia
final_db = pd.DataFrame()
final_db["snapped_at"] = pd.Series(dtype="datetime64[ns]")
final_db["token"] = pd.Series(dtype="object")
final_db["name"] = pd.Series(dtype="object")
final_db["tvl"] = pd.Series(dtype="int64")
final_db["market_cap"] = pd.Series(dtype="float64")
final_db["price"] = pd.Series(dtype="float64")
final_db["correlation"] = pd.Series(dtype="int64")
final_db["class"] = pd.Series(dtype="int64")

#Rango de fechas con datos TVL
min_date = "2021-08-21"
max_date = "2025-05-08"
min_date = pd.to_datetime(min_date)
max_date = pd.to_datetime(max_date)

good_dates = pd.date_range(start=min_date,end=max_date)

#Por cada fecha, insertamos los datos de esa fecha en la nueva base de datos
for date in good_dates:
    price_day = price_data.loc[price_data["snapped_at"] == date]
    tvl_day = tvl_data.loc[tvl_data["date"] == date]

    final_db = pd.concat([pd.DataFrame([[date,"NEAR","NEAR",tvl_day["tvl"].values[0],price_day["market_cap"].values[0],price_day["price"].values[0],0,0]], columns=final_db.columns), final_db], ignore_index=True)

In [7]:
final_db.head()

,snapped_at,token,name,tvl,market_cap,price,correlation,class
0,2025-05-08,NEAR,NEAR,156460509,2.767121e+09,2.284913,0,0
1,2025-05-07,NEAR,NEAR,144885775,2.820097e+09,2.329123,0,0
2,2025-05-06,NEAR,NEAR,144078512,2.803325e+09,2.316457,0,0
3,2025-05-05,NEAR,NEAR,144173682,2.811489e+09,2.323541,0,0
4,2025-05-04,NEAR,NEAR,148361129,2.937361e+09,2.426043,0,0

In [12]:
final_db.to_csv("criptodata.csv", sep=",",index=False, header=False)